<h1>Fill In The World</h1>
<p>
    <span>
        You have reached the live Fill In The World Server.
        There is nothing else to see here.
        To play the game, please visit
    </span>
    <a href="https://fitw.azurewebsites.net/">https://fitw.azurewebsites.net/</a>
</p>
<p>
    There are {{players}} currently connected players.
</p>